@import "../../../../../../styles/variables";

.MainLogoLetters {
  @include flex-line-start-vertical-center;
  position: relative;

  .mainLogoCategoryText {
    position: absolute;
    top: -12px;
    right: 0;
    font-style: italic;
    color: $accents-color;
    font-size: 14px;
    font-weight: bold;
  }

  .mainLogoLetter {
    font-size: 24px;
    font-weight: bold;
    color: #911e42;
  }

}