@import "../../../../../../styles/variables";

.VerbSearchInput {
  width: 100%;
  height: 100%;
  @include flex-column-line-end-vertical-center;
  padding-bottom: 3px;
  background-color: #fff;
  z-index: 1;

  input {
    width: 200px;
    height: 85%;
    border: 1px solid $accents-color;
    border-radius: 4px;
    color: $main-theme-color;
    font-size: 14px;

    &::placeholder {
      color: $accents-color;
    }
  }
}